*{
	/*CSS Reset
		resets the premade margins and padding by browser. it is better to manipulate the elements using 0 margins/paddings
	*/
	margin: 0;
	padding: 0;
	/*
		without box-sizing - the browser will use the default method of computing th dimentions of a box.
			border+padding+content-width/height
			for div1: ;
				2px lb/tp+20px lp/tp+100px w/height+20px rp/lp+2px rb/lb 


		box-sizing - it determines how the dimentions of a box will be computed. the border and padding will be included in the height and width of the element
	*/
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

#div1{
	/*
		margin is the space outside the element/ space outside the border of the element
		padding is the space between the content box and the border
	*/
	/*margin: 50px;*/
	padding: 20px;
	border: 2px solid black;
	height: 100px;
	width: 100px;
	display: block;
	margin: 0px;
	
}

#div2{
	/*margin: 25px 100px;*/
	/*margin: 10px 70px 50px;*/
	/*margin: 100px	 10px 15px 50px;*/
	/*margin-top: 10px;*/
	border: 2px solid black;
	padding: 20px;
	background-color: red;
	height: 100px;
	width: 100px;
	display: inline-block;
		/*the contents of the element will aligned to the top of the box*/
	vertical-align: top;
}

#span1{
	/*the absence of padding will cause the browser to start measuring the dimentions of the element from the top-most and left-most portion of the element*/
	display: inline-block;
	border: 2px solid black;
	background-color: green;
	height: 100px;
	width: 100px;
}

#span2{
	display: inline-block;
	border: 2px solid black;
	background-color: blue;
	height: 100px;
	width: 100px;
}