/*CSS Reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
}

nav>ul{
	list-style-type: none;
}

/*, - multiple selectors; used to select multiple selectors with different type/class/id names*/
nav .nav, nav .nav-logo{
	margin: .5rem;
	display: inline;
}

/*INTRO SECTION*/

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	/*font-weight - declares the thickness of the text*/
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

/*INFO SECTION*/

#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info>h2{
	margin-bottom: 1rem;
}

#info>div{
	text-align: left;
	vertical-align: top;
	/*percentage value in width means that the element will occupy the 30% of the viewport width*/
	width: 100%;
	margin-left: 0px;
	margin-right: .5rem;
	padding: 5px;
	/*min-height - sets the minimum height for the element especially if the content does not reach the target height.*/
	min-height: 10px;
	display: inline-block;
}

#info h3{
	margin-bottom: 1rem;
}

#pre-footer{
	text-align: center;
	background-color: #002540;
	color: white;
	font-family: Garamond;
	font-size: 16px;
	padding-left: 0%;
}

#pre-footer>div{
	text-align: left;
	display: inline-block;
	margin-left: .5px;
	padding: 30px;
	/*min-height - sets the minimum height for the element especially if the content does not reach the target height.*/
	vertical-align: top;
	line-height: 30px;
}